BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Preserve
IndentCaseLabels: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
